@use "../abstracts" as *;

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
  font-family: $my-font;
  font-weight: 700;
  word-break: break-word;
  line-height: 1.2;
}

h3 {
  font-size: 26px;
  line-height: 1.3;
}

h3,
h4 {
  font-weight: 600;
}

h5,
h6 {
  font-weight: 500;
}

h5 {
  font-size: toRem(18);
  line-height: 1.5;
}

p {
  line-height: $line-height;
  color: var(--text-color);
}
