@use "../abstracts/" as *;

.button {
  position: relative;
  margin-top: 20px;
  display: inline-block;
  height: auto;
  min-height: 0;
  width: auto;
  cursor: pointer;
  overflow: hidden;
  border-radius: 0.25rem;
  border-width: 0;
  background-color: var(--btn-bg-color);
  padding: 0.625rem 1.25rem;
  text-align: center;
  vertical-align: middle;
  font-size: 14px;
  line-height: 1.8;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: var(--btn-text-color);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.5s;
  &:hover {
    color: var(--btn-text-color);
    &::after {
      transform: translate(0, 0) rotate(0) skewX(0) skewY(0) scaleX(1) scaleY(1);
      transform-origin: 0 0;
    }
  }
  span {
    z-index: 10;
    position: relative;
    // color: inherit;
  }
  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    height: 100%;
    width: 100%;
    background-color: var(--btn-hover-color);
    // color: var(--btn-text-color);
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.5s;
    transform: translate(0, 0) rotate(0) skewX(0) skewY(0) scaleX(1) scaleY(0);
    transform-origin: 100% 100%;
  }
}
